body {
  background-color: black;
}
#tela {
  width: 350px;

  top: 5%;
  left: 50%;
  transform: translate(-50%, -10%);
  box-shadow: 1px 5px 10px rgb(195, 195, 195);
}

#img {
  width: 640px;
  height: 360px;
  position: absolute;
  top: 20%;
  left: 15;
}
